.manage-inventory{
   margin: 10px;
   margin-left: 50px;
   margin-bottom: 5px;
   text-align: center;
}
.inventory-map{
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-gap: 30px;
   margin: 10px;
   align-items: center;
   box-shadow: 20px 20px 20px rgb(209, 178, 178);
}
.inventory-map img{
   width: 60%;
   height: 100%;
}
.inventory-map img:hover{
   cursor: pointer;
}
.btn-manage{
   height: 60%;
   width: 70%;
   margin: 10px;
}